<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hiking">Hiking</a></li>
            <li><a href="/next">Where to Next</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>
